#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.id-input-box {
    display: flex;
    flex-direction: column;
    gap: 1px;
}